<div class="home_container">
    <div class="timeline">
        <div class="tweet_something">
            <span class="tweet_something_title">Tweet something</span>
            <hr>
            <div class="tweet_something_input_container">
                <img class="tweet_something_input_img" src="https://i.natgeofe.com/n/548467d8-c5f1-4551-9f58-6817a8d2c45e/NationalGeographic_2572187_square.jpg">
                <input class="tweet_something_input_text" type="text" placeholder="Tweet your reply">
            </div>
            <div class="tweet_something_footer">
                <div class="tweet_something_opts">
                    <button class="tweet_something_img_file"> <mat-icon>image</mat-icon> </button>
                    <button class="tweet_something_who_can_reply" (click)="changeMenuVisibility($event)"> <mat-icon>public</mat-icon> Everyone can reply </button>
                </div>
                <button class="tweet_something_btn"> Tweet </button>
            </div>
        </div>
        <div id="who_can_reply_menu" class="who_can_reply_menu_container hidden">
            <span class="who_can_reply_title">Who can reply?</span>
            <span class="who_can_reply_text">Choose who can reply to this Tweet.</span>
            <button class="who_can_reply_button"> <mat-icon>public</mat-icon> Everyone </button>
            <button class="who_can_reply_button"> <mat-icon>people</mat-icon> People you follow </button>
        </div>
        <div class="retweet_flag">
            <mat-icon class="retweet_flag_icon">autorenew</mat-icon>
            <span class="retweet_flag_text"> Joao Silva Retweeted</span>
        </div>
        <div class="post">
            <div class="autor_container">
                <img class="autor_img" src="https://i.natgeofe.com/n/548467d8-c5f1-4551-9f58-6817a8d2c45e/NationalGeographic_2572187_square.jpg">
                <div class="autor_data_container">
                    <span class="autor_name">Joao Silva</span>
                    <span class="post_date">24 August at 20:43</span>
                </div>
            </div>
            <div class="post_text_container">
                <span class="post_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer blandit felis leo, eu facilisis ligula tincidunt egestas. Integer molestie, massa et convallis consectetur, ante elit sollicitudin enim, hendrerit rutrum lectus purus a odio. Cras quis massa ultrices, maximus nisl quis, pulvinar arcu. Maecenas tempor lectus sit amet arcu fermentum sagittis. Nulla pharetra neque mi, a consequat justo luctus et. Sed eros mauris, dictum vel nulla ut, rhoncus porta leo. Aliquam sodales lectus finibus augue dictum semper. Proin blandit egestas pharetra. Sed dictum enim non maximus bibendum.</span>
            </div>
            <div class="img_container">
                <img class="post_img" src="https://i.natgeofe.com/n/548467d8-c5f1-4551-9f58-6817a8d2c45e/NationalGeographic_2572187_square.jpg">
            </div>
            <div class="post_metadata">
                <span class="post_metadata_number">449</span>
                <span class="post_metadata_text">Comments</span>
                <span class="post_metadata_number">59k</span>
                <span class="post_metadata_text">Retweets</span>
                <span class="post_metadata_number">234</span>
                <span class="post_metadata_text">Saved</span>
            </div>
            <div class="post_btns_container">
                <button class="post_btn"> 	<mat-icon class="post_btn_icon">chat_bubble_outline</mat-icon> <span class="post_btn_text">Comments</span> </button>
                <button class="post_btn"> 	<mat-icon class="post_btn_icon">autorenew</mat-icon> <span class="post_btn_text">Retweets</span> </button>
                <button class="post_btn"> 	<mat-icon class="post_btn_icon">favorite_border</mat-icon> <span class="post_btn_text">Like</span> </button>
                <button class="post_btn"> 	<mat-icon class="post_btn_icon">bookmark_border</mat-icon> <span class="post_btn_text">Save</span> </button>
            </div>
            <div class="post_reply_input_container">
                <img class="post_reply_input_img" src="https://i.natgeofe.com/n/548467d8-c5f1-4551-9f58-6817a8d2c45e/NationalGeographic_2572187_square.jpg">
                <input class="post_reply_input_text" type="text" placeholder="Tweet your reply">
            </div>
            <div class="reply_container">
                <div class="reply_autor_container">
                    <img class="reply_autor_img" src="https://i.natgeofe.com/n/548467d8-c5f1-4551-9f58-6817a8d2c45e/NationalGeographic_2572187_square.jpg">
                    <span class="reply_autor_name">Joao Silva</span>
                    <span class="reply_date">24 August at 20:43</span>
                </div>
                <div class="reply_text_container">
                    <span class="reply_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer blandit felis leo, eu facilisis ligula tincidunt egestas. Integer molestie, massa et convallis consectetur, ante elit sollicitudin enim, hendrerit rutrum lectus purus a odio. Cras quis massa ultrices, maximus nisl quis, pulvinar arcu. Maecenas tempor lectus sit amet arcu fermentum sagittis. Nulla pharetra neque mi, a consequat justo luctus et. Sed eros mauris, dictum vel nulla ut, rhoncus porta leo. Aliquam sodales lectus finibus augue dictum semper. Proin blandit egestas pharetra. Sed dictum enim non maximus bibendum.</span>
                </div>
                <div class="reply_like_container">
                    <button class="reply_like_btn"><mat-icon class="reply_like_btn_icon">favorite_border</mat-icon> <span class="reply_like_btn_text"> Like </span> </button>
                    <span class="reply_like_number">12k</span>
                    <span class="reply_like_text">Likes</span>
                </div>
            </div>
            <div class="reply_container">
                <div class="reply_autor_container">
                    <img class="reply_autor_img" src="https://i.natgeofe.com/n/548467d8-c5f1-4551-9f58-6817a8d2c45e/NationalGeographic_2572187_square.jpg">
                    <span class="reply_autor_name">Joao Silva</span>
                    <span class="reply_date">24 August at 20:43</span>
                </div>
                <div class="reply_text_container">
                    <span class="reply_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer blandit felis leo, eu facilisis ligula tincidunt egestas.</span>
                </div>
                <div class="reply_like_container">
                    <button class="reply_like_btn"><mat-icon class="reply_like_btn_icon">favorite_border</mat-icon> <span class="reply_like_btn_text"> Like </span> </button>
                    <span class="reply_like_number">12k</span>
                    <span class="reply_like_text">Likes</span>
                </div>
            </div>
        </div>
        <div class="post">
            <div class="autor_container">
                <img class="autor_img" src="https://i.natgeofe.com/n/548467d8-c5f1-4551-9f58-6817a8d2c45e/NationalGeographic_2572187_square.jpg">
                <div class="autor_data_container">
                    <span class="autor_name">Joao Silva</span>
                    <span class="post_date">24 August at 20:43</span>
                </div>
            </div>
            <div class="post_text_container">
                <span class="post_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer blandit felis leo, eu facilisis ligula tincidunt egestas. Integer molestie, massa et convallis consectetur, ante elit sollicitudin enim, hendrerit rutrum lectus purus a odio. Cras quis massa ultrices, maximus nisl quis, pulvinar arcu. Maecenas tempor lectus sit amet arcu fermentum sagittis. Nulla pharetra neque mi, a consequat justo luctus et. Sed eros mauris, dictum vel nulla ut, rhoncus porta leo. Aliquam sodales lectus finibus augue dictum semper. Proin blandit egestas pharetra. Sed dictum enim non maximus bibendum.</span>
            </div>
            <div class="post_metadata">
                <span class="post_metadata_number">449</span>
                <span class="post_metadata_text">Comments</span>
                <span class="post_metadata_number">59k</span>
                <span class="post_metadata_text">Retweets</span>
                <span class="post_metadata_number">234</span>
                <span class="post_metadata_text">Saved</span>
            </div>
            <div class="post_btns_container">
                <button class="post_btn"> 	<mat-icon class="post_btn_icon">chat_bubble_outline</mat-icon> <span class="post_btn_text">Comments</span> </button>
                <button class="post_btn"> 	<mat-icon class="post_btn_icon">autorenew</mat-icon> <span class="post_btn_text">Retweets</span> </button>
                <button class="post_btn"> 	<mat-icon class="post_btn_icon">favorite_border</mat-icon> <span class="post_btn_text">Like</span> </button>
                <button class="post_btn"> 	<mat-icon class="post_btn_icon">bookmark_border</mat-icon> <span class="post_btn_text">Save</span> </button>
            </div>
            <div class="post_reply_input_container">
                <img class="post_reply_input_img" src="https://i.natgeofe.com/n/548467d8-c5f1-4551-9f58-6817a8d2c45e/NationalGeographic_2572187_square.jpg">
                <input class="post_reply_input_text" type="text" placeholder="Tweet your reply">
            </div>
            <div class="reply_container">
                <div class="reply_autor_container">
                    <img class="reply_autor_img" src="https://i.natgeofe.com/n/548467d8-c5f1-4551-9f58-6817a8d2c45e/NationalGeographic_2572187_square.jpg">
                    <span class="reply_autor_name">Joao Silva</span>
                    <span class="reply_date">24 August at 20:43</span>
                </div>
                <div class="reply_text_container">
                    <span class="reply_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer blandit felis leo, eu facilisis ligula tincidunt egestas. Integer molestie, massa et convallis consectetur, ante elit sollicitudin enim, hendrerit rutrum lectus purus a odio. Cras quis massa ultrices, maximus nisl quis, pulvinar arcu. Maecenas tempor lectus sit amet arcu fermentum sagittis. Nulla pharetra neque mi, a consequat justo luctus et. Sed eros mauris, dictum vel nulla ut, rhoncus porta leo. Aliquam sodales lectus finibus augue dictum semper. Proin blandit egestas pharetra. Sed dictum enim non maximus bibendum.</span>
                </div>
                <div class="reply_like_container">
                    <button class="reply_like_btn"><mat-icon class="reply_like_btn_icon">favorite_border</mat-icon> <span class="reply_like_btn_text"> Like </span> </button>
                    <span class="reply_like_number">12k</span>
                    <span class="reply_like_text">Likes</span>
                </div>
            </div>
            <div class="reply_container">
                <div class="reply_autor_container">
                    <img class="reply_autor_img" src="https://i.natgeofe.com/n/548467d8-c5f1-4551-9f58-6817a8d2c45e/NationalGeographic_2572187_square.jpg">
                    <span class="reply_autor_name">Joao Silva</span>
                    <span class="reply_date">24 August at 20:43</span>
                </div>
                <div class="reply_text_container">
                    <span class="reply_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer blandit felis leo, eu facilisis ligula tincidunt egestas.</span>
                </div>
                <div class="reply_like_container">
                    <button class="reply_like_btn"><mat-icon class="reply_like_btn_icon">favorite_border</mat-icon> <span class="reply_like_btn_text"> Like </span> </button>
                    <span class="reply_like_number">12k</span>
                    <span class="reply_like_text">Likes</span>
                </div>
            </div>
        </div>
    </div>
    <div class="links_container">
        <div class="trends_container">
            <span class="trends_title">Trends for you</span>
            <hr>
            <button class="trends_btn"> <span class="trend_hashtag"> #programming </span> <span class="trend_metadata"> 21.2k Tweets </span> </button>
            <button class="trends_btn"> <span class="trend_hashtag"> #devchallenges </span> <span class="trend_metadata"> 10.3k Tweets </span> </button>
            <button class="trends_btn"> <span class="trend_hashtag"> #frontend </span> <span class="trend_metadata"> 5031 Tweets </span> </button>
            <button class="trends_btn"> <span class="trend_hashtag"> #backend </span> <span class="trend_metadata"> 2102 Tweets </span> </button>
        </div>
        <div class="whotofollow_container">
            <span class="whotofollow_title">Who to follow</span>
            <hr>
            <div class="whotofollow_profile">
                <div class="whotofollow_profile_header">
                    <img class="whotofollow_profile_img" src="https://i.natgeofe.com/n/548467d8-c5f1-4551-9f58-6817a8d2c45e/NationalGeographic_2572187_square.jpg">
                    <div class="whotofollow_profile_text">
                        <span class="username"> Lorem Ipsum </span>
                        <span class="whotofollow_profile_metadata"> 10.8K Followers </span>
                    </div>
                    <button class="follow_btn"> <mat-icon class="follow_btn_icon">person_add</mat-icon> <span class="follow_btn_text"> Follow </span> </button>
                </div>
                <div class="whotofollow_profile_desc_container">
                    <span class="whotofollow_profile_desc">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius, metus at commodo efficitur, lacus tellus sollicitudin eros, non iaculis magna elit viverra lectus. In auctor dapibus magna, pulvinar ultrices ex fringilla sit amet.
                    </span>
                </div>
                <img class="whotofollow_profile_bg_img" src="https://templates.iqonic.design/sofbox-admin/sofbox-dashboard-laravel/public/assets/images/page-img/profile-bg.jpg">
            </div>
            <hr>
            <div class="whotofollow_profile">
                <div class="whotofollow_profile_header">
                    <img class="whotofollow_profile_img" src="https://i.natgeofe.com/n/548467d8-c5f1-4551-9f58-6817a8d2c45e/NationalGeographic_2572187_square.jpg">
                    <div class="whotofollow_profile_text">
                        <span class="username"> Lorem Ipsum </span>
                        <span class="whotofollow_profile_metadata"> 10.8K Followers </span>
                    </div>
                    <button class="follow_btn"> <mat-icon class="follow_btn_icon">person_add</mat-icon> <span class="follow_btn_text"> Follow </span> </button>
                </div>
                <div class="whotofollow_profile_desc_container">
                    <span class="whotofollow_profile_desc">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius, metus at commodo efficitur, lacus tellus sollicitudin eros, non iaculis magna elit viverra lectus. In auctor dapibus magna, pulvinar ultrices ex fringilla sit amet.
                    </span>
                </div>
                <img class="whotofollow_profile_bg_img" src="https://templates.iqonic.design/sofbox-admin/sofbox-dashboard-laravel/public/assets/images/page-img/profile-bg.jpg">
            </div>
        </div>
    </div>
</div>