<div class="profile_container">
    <div class="profile_body">
        <div class="filters_container">
            <button class="filters_btn filters_btn_selected">Tweets</button>
            <button class="filters_btn">Tweets & replies</button>
            <button class="filters_btn">Media</button>
            <button class="filters_btn">Likes</button>
        </div>
        <div class="timeline">
            <div class="retweet_flag">
                <mat-icon class="retweet_flag_icon">autorenew</mat-icon>
                <span class="retweet_flag_text"> Joao Silva Retweeted</span>
            </div>
            <div class="post">
                <div class="autor_container">
                    <img class="autor_img" src="https://i.natgeofe.com/n/548467d8-c5f1-4551-9f58-6817a8d2c45e/NationalGeographic_2572187_square.jpg">
                    <div class="autor_data_container">
                        <span class="autor_name">Joao Silva</span>
                        <span class="post_date">24 August at 20:43</span>
                    </div>
                </div>
                <div class="post_text_container">
                    <span class="post_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer blandit felis leo, eu facilisis ligula tincidunt egestas. Integer molestie, massa et convallis consectetur, ante elit sollicitudin enim, hendrerit rutrum lectus purus a odio. Cras quis massa ultrices, maximus nisl quis, pulvinar arcu. Maecenas tempor lectus sit amet arcu fermentum sagittis. Nulla pharetra neque mi, a consequat justo luctus et. Sed eros mauris, dictum vel nulla ut, rhoncus porta leo. Aliquam sodales lectus finibus augue dictum semper. Proin blandit egestas pharetra. Sed dictum enim non maximus bibendum.</span>
                </div>
                <div class="img_container">
                    <img class="post_img" src="https://i.natgeofe.com/n/548467d8-c5f1-4551-9f58-6817a8d2c45e/NationalGeographic_2572187_square.jpg">
                </div>
                <div class="post_metadata">
                    <span class="post_metadata_number">449</span>
                    <span class="post_metadata_text">Comments</span>
                    <span class="post_metadata_number">59k</span>
                    <span class="post_metadata_text">Retweets</span>
                    <span class="post_metadata_number">234</span>
                    <span class="post_metadata_text">Saved</span>
                </div>
                <div class="post_btns_container">
                    <button class="post_btn"> 	<mat-icon class="post_btn_icon">chat_bubble_outline</mat-icon> <span class="post_btn_text">Comments</span> </button>
                    <button class="post_btn"> 	<mat-icon class="post_btn_icon">autorenew</mat-icon> <span class="post_btn_text">Retweets</span> </button>
                    <button class="post_btn"> 	<mat-icon class="post_btn_icon">favorite_border</mat-icon> <span class="post_btn_text">Like</span> </button>
                    <button class="post_btn"> 	<mat-icon class="post_btn_icon">bookmark_border</mat-icon> <span class="post_btn_text">Save</span> </button>
                </div>
                <div class="post_reply_input_container">
                    <img class="post_reply_input_img" src="https://i.natgeofe.com/n/548467d8-c5f1-4551-9f58-6817a8d2c45e/NationalGeographic_2572187_square.jpg">
                    <input class="post_reply_input_text" type="text" placeholder="Tweet your reply">
                </div>
                <div class="reply_container">
                    <div class="reply_autor_container">
                        <img class="reply_autor_img" src="https://i.natgeofe.com/n/548467d8-c5f1-4551-9f58-6817a8d2c45e/NationalGeographic_2572187_square.jpg">
                        <span class="reply_autor_name">Joao Silva</span>
                        <span class="reply_date">24 August at 20:43</span>
                    </div>
                    <div class="reply_text_container">
                        <span class="reply_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer blandit felis leo, eu facilisis ligula tincidunt egestas. Integer molestie, massa et convallis consectetur, ante elit sollicitudin enim, hendrerit rutrum lectus purus a odio. Cras quis massa ultrices, maximus nisl quis, pulvinar arcu. Maecenas tempor lectus sit amet arcu fermentum sagittis. Nulla pharetra neque mi, a consequat justo luctus et. Sed eros mauris, dictum vel nulla ut, rhoncus porta leo. Aliquam sodales lectus finibus augue dictum semper. Proin blandit egestas pharetra. Sed dictum enim non maximus bibendum.</span>
                    </div>
                    <div class="reply_like_container">
                        <button class="reply_like_btn"><mat-icon class="reply_like_btn_icon">favorite_border</mat-icon> <span class="reply_like_btn_text"> Like </span> </button>
                        <span class="reply_like_number">12k</span>
                        <span class="reply_like_text">Likes</span>
                    </div>
                </div>
                <div class="reply_container">
                    <div class="reply_autor_container">
                        <img class="reply_autor_img" src="https://i.natgeofe.com/n/548467d8-c5f1-4551-9f58-6817a8d2c45e/NationalGeographic_2572187_square.jpg">
                        <span class="reply_autor_name">Joao Silva</span>
                        <span class="reply_date">24 August at 20:43</span>
                    </div>
                    <div class="reply_text_container">
                        <span class="reply_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer blandit felis leo, eu facilisis ligula tincidunt egestas.</span>
                    </div>
                    <div class="reply_like_container">
                        <button class="reply_like_btn"><mat-icon class="reply_like_btn_icon">favorite_border</mat-icon> <span class="reply_like_btn_text"> Like </span> </button>
                        <span class="reply_like_number">12k</span>
                        <span class="reply_like_text">Likes</span>
                    </div>
                </div>
            </div>
            <div class="post">
                <div class="autor_container">
                    <img class="autor_img" src="https://i.natgeofe.com/n/548467d8-c5f1-4551-9f58-6817a8d2c45e/NationalGeographic_2572187_square.jpg">
                    <div class="autor_data_container">
                        <span class="autor_name">Joao Silva</span>
                        <span class="post_date">24 August at 20:43</span>
                    </div>
                </div>
                <div class="post_text_container">
                    <span class="post_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer blandit felis leo, eu facilisis ligula tincidunt egestas. Integer molestie, massa et convallis consectetur, ante elit sollicitudin enim, hendrerit rutrum lectus purus a odio. Cras quis massa ultrices, maximus nisl quis, pulvinar arcu. Maecenas tempor lectus sit amet arcu fermentum sagittis. Nulla pharetra neque mi, a consequat justo luctus et. Sed eros mauris, dictum vel nulla ut, rhoncus porta leo. Aliquam sodales lectus finibus augue dictum semper. Proin blandit egestas pharetra. Sed dictum enim non maximus bibendum.</span>
                </div>
                <div class="post_metadata">
                    <span class="post_metadata_number">449</span>
                    <span class="post_metadata_text">Comments</span>
                    <span class="post_metadata_number">59k</span>
                    <span class="post_metadata_text">Retweets</span>
                    <span class="post_metadata_number">234</span>
                    <span class="post_metadata_text">Saved</span>
                </div>
                <div class="post_btns_container">
                    <button class="post_btn"> 	<mat-icon class="post_btn_icon">chat_bubble_outline</mat-icon> <span class="post_btn_text">Comments</span> </button>
                    <button class="post_btn"> 	<mat-icon class="post_btn_icon">autorenew</mat-icon> <span class="post_btn_text">Retweets</span> </button>
                    <button class="post_btn"> 	<mat-icon class="post_btn_icon">favorite_border</mat-icon> <span class="post_btn_text">Like</span> </button>
                    <button class="post_btn"> 	<mat-icon class="post_btn_icon">bookmark_border</mat-icon> <span class="post_btn_text">Save</span> </button>
                </div>
                <div class="post_reply_input_container">
                    <img class="post_reply_input_img" src="https://i.natgeofe.com/n/548467d8-c5f1-4551-9f58-6817a8d2c45e/NationalGeographic_2572187_square.jpg">
                    <input class="post_reply_input_text" type="text" placeholder="Tweet your reply">
                </div>
                <div class="reply_container">
                    <div class="reply_autor_container">
                        <img class="reply_autor_img" src="https://i.natgeofe.com/n/548467d8-c5f1-4551-9f58-6817a8d2c45e/NationalGeographic_2572187_square.jpg">
                        <span class="reply_autor_name">Joao Silva</span>
                        <span class="reply_date">24 August at 20:43</span>
                    </div>
                    <div class="reply_text_container">
                        <span class="reply_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer blandit felis leo, eu facilisis ligula tincidunt egestas. Integer molestie, massa et convallis consectetur, ante elit sollicitudin enim, hendrerit rutrum lectus purus a odio. Cras quis massa ultrices, maximus nisl quis, pulvinar arcu. Maecenas tempor lectus sit amet arcu fermentum sagittis. Nulla pharetra neque mi, a consequat justo luctus et. Sed eros mauris, dictum vel nulla ut, rhoncus porta leo. Aliquam sodales lectus finibus augue dictum semper. Proin blandit egestas pharetra. Sed dictum enim non maximus bibendum.</span>
                    </div>
                    <div class="reply_like_container">
                        <button class="reply_like_btn"><mat-icon class="reply_like_btn_icon">favorite_border</mat-icon> <span class="reply_like_btn_text"> Like </span> </button>
                        <span class="reply_like_number">12k</span>
                        <span class="reply_like_text">Likes</span>
                    </div>
                </div>
                <div class="reply_container">
                    <div class="reply_autor_container">
                        <img class="reply_autor_img" src="https://i.natgeofe.com/n/548467d8-c5f1-4551-9f58-6817a8d2c45e/NationalGeographic_2572187_square.jpg">
                        <span class="reply_autor_name">Joao Silva</span>
                        <span class="reply_date">24 August at 20:43</span>
                    </div>
                    <div class="reply_text_container">
                        <span class="reply_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer blandit felis leo, eu facilisis ligula tincidunt egestas.</span>
                    </div>
                    <div class="reply_like_container">
                        <button class="reply_like_btn"><mat-icon class="reply_like_btn_icon">favorite_border</mat-icon> <span class="reply_like_btn_text"> Like </span> </button>
                        <span class="reply_like_number">12k</span>
                        <span class="reply_like_text">Likes</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
